// Colors
$main-0: #ffa6c9;
$main-100: #ffc5db;
$main-200: #ffd0e2;
$main-300: #ffeff2;

$dark-0: #606060;
$dark-100: #ddd;
$dark-200: #f2f2f2;

$light-300: #eee;
$light-100: #f6f6f6;
$ligth-0: #fff;

$twitch: #8956fb;
$telegram: #0088cc;
