// Colors
$main-0: #5e7ee9;
$main-100: #6984df;
$main-200: #afbeff;
$main-300: #e4eaff;

$dark-0: #606060;
$dark-100: #ddd;

$light-300: #eee;
$light-100: #f6f6f6;
$ligth-0: #fff;

$twitch: #8956fb;
$telegram: #0088cc;
